.logo {
    height: 5vh;
    width: 15vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.catchphrase {
    font-family: verdana;
    color: #6a6a6a;
    font-size: 30px;
    text-align: center;
}

.boogleaccount {
    font-family: verdana;
    color: #6a6a6a;
    font-size: 15px;
    text-align: center;
}

.square {
    background-color: #f5f5f5;
    height: 350px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 3px 5px gray;
}

.usericon {
    height: 100px;
    width: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

#email {
    display: flex;
    background-color: #fff59d;
    font-family: verdana;
    color: lightgray;
    height: 40px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: gray;
    box-shadow: 1px 2px 5px lightgray inset;
}

.next {
    display: flex;
    background-color: #1a73e8;
    font-family: arial;
    font-weight: bold;
    color: white;
    height: 40px;
    width: 305px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border: 0px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}

.next:hover {
    display: flex;
    background-color: #0763e5;
    font-family: arial;
    font-weight: bold;
    color: white;
    height: 40px;
    width: 305px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border: 0px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}

.needhelp:link {
  text-decoration: none;
  font-family: verdana;
  font-size: 12px;
  color: #0763e5;
  margin-left: 285px;
  margin-bottom: 100px;
}

.createaccount {
    display: flex;
    text-decoration: none;
    font-family: verdana;
    font-size: 14px;
    color: #0763e5;
    justify-content: center;
}

.text1 {
    font-family: verdana;
    color: #454349;
    font-size: 12px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    height: 75vh;
    justify-content: center;
}

.icon {
    height: 15px;
    width: 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin: 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border: 2px;
  font-family: verdana;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

body {
    flex-wrap: wrap;
}

.links {
    font-family: verdana;
    font-size: 10px;
    display: flex;
    width: 200px;
    color: gray;
    justify-content: space-around;

}

#link {
    text-decoration: none;
    color: #808080;
}

.langicon {
    height: 17px;
    width: 17px;
    margin: auto;
}

